.movieTitle {
  text-align: center;
  margin-top: 15px;
}
.MovieContainer {
  display: inline-flex;
  align-items: center;
}

.MovieList {
  height: 300px;
  width: 100px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

.DividingLin {
  opacity: 10;
  border-radius: 15px;
  height: 3px;
  background-color: white;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
}
.MovieName {
  font-weight: bold;
  font-size: 20px;
}
.container {
  display: flex;
}
