.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.iconImg {
  position: relative;
  left: 10px;
  z-index: 1;
  width: 32px;
}
.backButton {
  text-decoration: underline 1px white;
  margin-top: 5px;
  margin-left: 10px;
  color: white;
  border: none;
  font-size: 16px;
  background-color: #252527;
  cursor: pointer;
}

.dateBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 10px;
  background-color: rgb(255, 255, 231);
  border-radius: 15px;
}

.dateStyle {
  display: flex;
  justify-content: center;
  font-size: 17px;
  text-align: right;
  width: 200px;
  color: #707070;
  font-family: "Surce Sans Pro", sans-serif;
  z-index: -1;
  border: none;
  caret-color: rgb(255, 255, 231);
  background-color: rgb(255, 255, 231);
}
.mainContainer {
  text-align: center;
}
.alertText {
  margin-bottom: 10px;
  font-size: 17px;
}
.textContainer > h1 {
  margin-bottom: 10px;
}

.dateStyle:focus {
  outline: none;
}
.btnAria {
  justify-content: center;
}
.btnStyle {
  border: none;
  width: 120px;
  height: 32px;
  font-size: 15px;
  border-radius: 15px;
  background-color: rgb(231, 231, 203);
}
.btnStyle:hover {
  box-shadow: transparent;
  animation: btnHooverAnime 0.3s forwards;
}

.dkwpahrrnlcksgdk {
  font-size: 15px;
  font-weight: bold;
}

@keyframes btnHooverAnime {
  from {
    box-shadow: 0px 0px 0px 0px #fff;
  }
  to {
    box-shadow: 4px 3px 4px 0px rgba(179, 171, 171, 0.75);
    -webkit-box-shadow: 4px 3px 4px 0px rgba(179, 171, 171, 0.75);
    -moz-box-shadow: 4px 3px 4px 0px rgba(179, 171, 171, 0.75);
  }
}
